
.MuiMenu-paper{
    ul{
        li{
            a{
                text-decoration: none;
                color: inherit;

                & > div{
                    display: inline-block;
                }
            }
        }
    }
}

.MuiSnackbar-root{
    .MuiSnackbarContent-root{
        background-color: darkred;
    }
}